
@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family:Titulo;
	font-size:40px;
	color:white;
}

body {
	background-image:url(../imgs/images.jpg);
}

#container{
	width:950px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}


#fundoGame {
	width:950px;
	height:630px;
	background-image:url(../imgs/espaço.jpg);
	border-color:#FFF;
	border-style:solid;
}

#jogador {
	width: 140px;
	height:76px;
	position:absolute;
	left:8px;
	top:179px;
background-image:url(../imgs/nave.gif);

}

#inimigo1 {
	width: 150px;
	height: 66px;
	position: absolute;
	left: 689px;
	top: 253px;
	background-image:url(../imgs/morcego.gif);
	
}

#inimigo2 {
	width: 165px;
	height: 80px;
	position: absolute;
	left: 775px;
	top: 440px;
	background-image: url(../imgs/aranha.gif);
}

#amigo {
	width: 120px;
	height: 90px;
	position: absolute;
	left: 10px;
	top: 434px;
	background-image:url(../imgs/tank.gif);
}

#inicio {
	width:350px;
	height:200px;
	background:rebeccapurple;
 	margin-left:auto;
        margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;
	border-radius: 30px 0 30px 0;
	border: solid black;

} .anima1 {
	background-image:url(../imgs/nave.gif);
	animation:play .5s steps(1) infinite;

       -webkit-animation: play .5s steps(1) infinite;
       -moz-animation: play .5s steps(1) infinite;
       -ms-animation: play .5s steps(1) infinite;
       -o-animation: play .5s steps(1) infinite;
}

@keyframes play {
	from {background-position:0px;}
	to {background-position:-512px;}
}


@-webkit-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-moz-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-ms-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

@-o-keyframes play {
   from { background-position:0px; }
     to { background-position: -512px; }
}

.anima2 {
    background-image:url(../imgs/morcego.gif);
    animation: play .5s steps(1) infinite;
    -webkit-animation: play .5s steps(1) infinite;
    -moz-animation: play .5s steps(1) infinite;
    -ms-animation: play .5s steps(1) infinite;
    -o-animation: play .5s steps(1) infinite; 
}


.anima3 {
	background-image:url(../imgs/tank.gif);
	animation:play2 .9s steps(1) infinite;
	-webkit-animation: play2 .9s steps(1) infinite;
       -moz-animation: play2 .9s steps(1) infinite;
        -ms-animation: play2 .9s steps(1) infinite;
         -o-animation: play2 .9s steps(1) infinite;
}

@keyframes play2 {
	from {background-position:0px;}
	to {background-position:-528px;}
}

@-webkit-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-moz-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-ms-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}

@-o-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -528px; }
}
#explosao1 {
	width:0px;
	height:87px;
	position:absolute;

}

#explosao2 {
	width:15px;
	height:51px;
	position:absolute;
	background-image: url(imgs\explo.gif);
	
}
#explosao3 {
	width:44px;
	height:51px;
	position:absolute;
}
#disparo {
	width: 30px;
	height: 25px;
	position: absolute;
	background-image: url(../imgs/missel.gif);
}
.anima4 {
	width:44px;
	height:51px;
	background-image:url(../imgs/amigo_explosao.png);
	animation:play3 .5s steps(7) infinite;
	-webkit-animation: play3 .5s steps(7) infinite;
       -moz-animation: play3 .5s steps(7) infinite;
        -ms-animation: play3 .5s steps(7) infinite;
         -o-animation: play3 .5s steps(7) infinite;
}
@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-webkit-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-moz-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-ms-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-o-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}
#explosao3 {
	width:100px;
	height:85px;
	position:absolute;
}
.anima4 {
	width:200px;
	height:150px;
	background-image:url(../imgs/tankex.gif);
	animation:play3 .5s steps(1) infinite;
	-webkit-animation: play3 .5s steps(1) infinite;
       -moz-animation: play3 .5s steps(1) infinite;
        -ms-animation: play3 .5s steps(1) infinite;
         -o-animation: play3 .5s steps(1) infinite;
}

@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-308px;}
}

@-webkit-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-moz-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-ms-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}

@-o-keyframes play3 {
   from { background-position:    0px; }
     to { background-position: -308px; }
}
#placar {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: 590px;
}

h2 {
	font-family:Titulo;
	font-size:20px;
	color:red
}
#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}
h3 {
	font-family:Titulo;
	font-size:20px;
	color:white;

}

#fim {
	width:350px;
	height:200px;
	background-image: radial-gradient(rgb(102, 29, 29), purple,blue);
 	margin-left:auto;
    	margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;
	border: solid black;
	border-radius: 0 30px 0 30px;
}
#reinicia{
	cursor: pointer;
	
}
#go{
	font
}